<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
    <!-- Icons -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- Styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body
    
>
    
    <div 
        id="root"
        class="body"
        :class="{ darkBody:darkModeVisible === true }">
    >
        <div class="container">
            <!-- DARK MODE -->
            <i
                class="fas fa-adjust"
                @click="darkMode"
            ></i>
            <!-- NAVBAR -->
            <aside
                class="navbar"
                :class="{ darkBorder:darkModeVisible === true }"
            >
        
                <!-- Navbar-Header -->
                <div
                    class="navbar-header"
                    :class="{ backgroundColor:darkModeVisible === true }"
                >
                    <div class="user">
                        <img :src="`./img/avatar${user.avatar}.jpg`" alt="Avatar User">
                        <span>{{ user.name }}</span>
                    </div>
                    <div class="icons">
                        <a href="#"><i class="fas fa-circle-notch"></i></a>
                        <a href="#"><i class="fas fa-comment-alt"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>
        
                <!-- Navbar-Notification -->
                <div
                    class="navbar-notification"
                    :class="{ backgroundColorNotification:darkModeVisible === true }"
                >
                    <div
                        class="circle"
                        :class="{ backgroundColorNotification:darkModeVisible === true }"
                    ><i class="fas fa-bell-slash"></i></div>
                    <div class="text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- Navbar-Search -->
                <div
                    class="navbar-search"
                    :class="{ backgroundColor:darkModeVisible === true }"
                >
                    <div
                        class="icon"
                        :class="{ backgroundColor:darkModeVisible === true }"
                    ><a href="#"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="bar">
                        <input
                            type="text"
                            placeholder="Cerca o inizia una nuova chat"
                            :class="{ darkBackgroundColor:darkModeVisible === true }"
                            v-model="userFilter"
                            @keyup="userFiltered"
                        >
                    </div>
                </div>
                <!-- Navbar-Content -->
                <div
                    class="navbar-content"
                    :class="{ darkBackgroundColor:darkModeVisible === true }"
                >
                    <ul>
                        <li
                            v-for="(element, index) in contacts"
                            @click="chat(index)"
                            :class="{active: index == newIndex}"
                            v-show="element.visible"
                        >
                            <img :src="`./img/avatar${element.avatar}.jpg`" :alt="`avatar${element.avatar}`">
                            <span>{{ element.name }}</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- MAIN -->
            <main class="main">
                <!-- Main-Header -->
                <div
                    class="main-header"
                    :class="{ backgroundColor:darkModeVisible === true }"
                >
                    <div class="user">
                        <img :src="`./img/avatar${contacts[newIndex].avatar}.jpg`" alt="Avatar Chat">
                        <div class="text">
                            <div>{{ contacts[newIndex].name }}</div>
                            <div>{{ contacts[newIndex].access }}</div>
                        </div>
                    </div>
                    <div class="icons">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <a href="#"><i class="fas fa-paperclip"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>
                <!-- Main-Content -->
                <div
                    class="main-content"
                    :class="{ dark:darkModeVisible === true }"
                >
                    <!-- Messages -->
                    <div v-for="element in contacts[newIndex].messages">
                        <div
                            class="sent-direction"
                            v-if="element.status == 'sent'"
                        >
                            <div
                                class="sent-message"
                                :class="{ backgroundColorMessage:darkModeVisible === true }"
                            >
                                <div>{{element.message }}</div>
                                <span :class="{ darkLatestAccess:darkModeVisible === true }">{{ element.date }}</span>
                            </div>
                        </div>
                        <div
                            class="received-direction"
                            v-if="element.status == 'received'"
                        >
                            <div
                                class="received-message"
                                :class="{ backgroundColor:darkModeVisible === true }"
                            >
                                <div>{{element.message }}</div>
                                <span :class="{ darkLatestAccess:darkModeVisible === true }">{{ element.date }}</span>
                            </div>
                        </div>
                    </div>
        
                    <!-- Emoji -->
                    <div
                        class="container-emoji"
                        :class="{ backgroundColor:darkModeVisible === true }"
                        v-show="emojiVisible"
                    >
                        <div>Emoji</div>
                        <div class="emoji">
                            <div
                                v-for="(element,index) in emoji"
                                @click="addEmoji(index)"
                            >{{element.code}}</div>
                        </div>
                    </div>
                </div>
                <!-- Main-Footer -->
                <div
                    class="main-footer"
                    :class="{ backgroundColor:darkModeVisible === true }"
                >
                    <i
                        class="far fa-smile"
                        @click="emojiShow"
                    ></i>
                    <input
                        type="text"
                        placeholder="Scrivi un messaggio"
                        :class="{ darkBackgroundColor:darkModeVisible === true }"
                        v-model="newMessage"
                        @keyup.enter="addMessage"
                    >
                    <i
                        class="fas fa-paper-plane"
                        @click="addMessage"
                    ></i>
                </div>
            </main>
        </div>
    </div>
    

    <!-- JS -->
    <!-- Day JS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/locale/it.js"></script>
    <!-- Main script -->
    <script src="./js/main.js"></script>
</body>
</html>